.audience {
  background-color: $color-light-blue;
  padding: 50px 15px;

  @include for-large-up {
    padding: 0;
    padding-top: 108px;
    padding-bottom: 110px;
  }

  &__description {
    display: flex;
    flex-direction: column;

    @include for-large-up {
      width: 555px;
      margin: auto;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    margin-top: 17px;
    letter-spacing: -0.36px;

    @include for-large-up {
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
      margin: 0;
      margin-top: 24px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 0;
    margin-top: 18px;

    @include for-large-up {
      margin: 0;
      margin-top: 30px;
    }
  }

  &__btn {
    margin-top: 30px;

    @include for-large-up {
      margin: 0;
      display: flex;
      margin-top: 34px;
      justify-content: center;
    }
  }

  &__action-btn {
    width: 100%;
    padding: 0;
    line-height: 13px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    @include for-large-up {
      width: 160px;
    }
  }

  &__learn-more-btn {
    margin-top: 12px;
    width: 100%;
    height: 48px;
    background-color: $color-white;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    border-radius: 2px;
    padding: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);

    @include for-large-up {
      width: 158px;
      margin: 0;
      margin-left: 10px;
    }
  }

  &__decoration {
    margin-top: 40px;

    @include for-large-up {
      display: flex;
      justify-content: center;
      margin: 0;
      margin-top: 111px;
    }
  }

  &__decoration_item {
    width: 100%;
    height: 300px;
    background-color: $color-white;
    border-radius: 8px;
    margin: 0;
    margin-top: 15px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);

    @include for-large-up {
      width: 262px;
      margin: 0;
      margin-left: 30px;
    }
  }

  &__decoration_item:nth-child(1) {
    margin: 0;
  }
  &__decoration_item:nth-child(2):hover {
    background-color: $background-color-blue;
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
      0px 11px 55px rgba(0, 0, 0, 0.07);
  }

  &__image {
    margin-top: 22px;
  }

  &__image-caption {
    margin-top: 22px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
  }
}
