.header {
  height: 64px;
  width: 100%;
  background-color: $color-white;
  display: flex;
  align-items: center;
  padding-left: 15px;

  @include for-large-up {
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
    background-color: $color-beige;
  }

  &__button {
    display: none;

    @include for-large-up {
      display: block;
    }
  }

  &__menu-button {
    width: 58px;
    height: 100%;
    margin-left: auto;
    border: none;
    border-left: 1px solid $color-black;
    background: transparent;

    @include for-large-up {
      display: none;
    }
  }
  &__menu-icon {
    width: 18px;
    height: 13px;
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png');
    display: inline-block;
  }
}

.navigation {
  display: none;

  @include for-large-up {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }

  &__item {
    color: $general-text-color;
    text-decoration: none;
    line-height: 25px;
    font-size: 18px;
    margin-right: 50px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__item_selected {
    font-weight: 700;
  }

  &__arrow {
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png');
    display: inline-block;
    height: 5px;
    width: 8px;
    margin-left: 11px;
  }
}

.logo {
  display: flex;

  &__image {
    width: 48px;
    height: 48px;
    margin-right: 13px;

    @include for-large-up {
      width: 60px;
      height: 60px;
      margin-right: 15px;
    }
  }

  &__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }
  &__description {
    display: none;

    @include for-large-up {
      font-size: 18px;
      line-height: 25px;
      color: $text-color-light-grey;
      opacity: 0.6;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.top-section {
  background-color: $color-beige;

  @include for-large-up {
    background-color: $color-beige;
    padding-top: 39px;
  }
}
