.order {
  padding: 50px 15px;
  background-color: $color-light;

  @include for-large-up {
    display: flex;
    margin: 0;
    padding: 73px 230px 72px 224px;
  }

  &__illustration {
    max-width: 200px;
    height: 220px;
    display: flex;
    margin: auto;

    @include for-large-up {
      max-width: 269px;
      height: 296px;
      margin-right: 121px;
    }
  }

  &__details {
    width: 100%;

    @include for-large-up {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.25px;
    margin: 0;

    @include for-large-up {
      margin: 0;
      display: flex;
    }
  }

  &__text {
    height: 167px;
    font-size: 22px;
    line-height: 32px;
    margin: 0;
    margin-top: 18px;

    @include for-large-up {
      margin-top: 12px;
      height: 64px;
    }
  }

  &__form {
    margin-top: 40px;
    @include for-large-up {
      display: flex;
      margin-top: 26px;
    }
  }

  &__email {
    padding: 0;
    width: 100%;
    height: 48px;
    border: 1px solid $border-color;
    border-radius: 2px;
    text-align: center;
    font-size: 18px;
    line-height: 13px;

    @include for-large-up {
      width: 385px;
      flex-grow: 1;
      text-align: start;
      padding-left: 15px;
    }

    &::placeholder {
      color: $general-text-color;
    }
  }

  &__button {
    padding: 0;
    width: 100%;
    margin-top: 12px;

    @include for-large-up {
      width: 160px;
      margin: 0;
      margin-left: 10px;
      flex-shrink: 0;
    }
  }

  &__terms {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    color: $text-color-light-grey;
  }

  &__terms-link {
    color: $text-color-dark-blue;
  }
}
